.nosotrosgrid-layout {
  display: grid;
  gap: 20px;
  grid-template-areas: "textoyimg" "containersection2" "titulo3" "carrusel";
}
@media (min-width: 768px) {
  .nosotrosgrid-layout {
    grid-template-areas: "textoyimg textoyimg textoyimg" "containersection2 containersection2 containersection2" "titulo3 titulo3 titulo3" "carrusel carrusel carrusel";
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
  }
}

.textoyimg {
  grid-area: textoyimg;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  justify-items: center;
}
.textoyimg .textsection1 {
  text-align: center;
  margin: 0 auto;
}
.textoyimg .textsection1 .titulosection1 {
  text-align: center;
}
.textoyimg .imgsection1 {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgb(0, 0, 0.1);
}
.textoyimg .imgsection1 img {
  max-width: 100%;
  height: auto;
}

.containersection2 {
  grid-area: containersection2;
  text-align: center;
  background-color: #fcd1d8;
}
.containersection2 .imgsection2 .servicios {
  list-style-type: none;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #fcd1d8;
}
.containersection2 .imgsection2 .servicios .servicios li {
  width: 30%;
  max-width: none;
}
.containersection2 .imgsection2 .servicios .servicios li img {
  max-width: 100%;
  height: auto;
}
.containersection2 .imgsection2 .servicios li :hover figcaption {
  display: block;
  cursor: pointer;
}
.containersection2 .imgsection2 .servicios li figure {
  padding: 5px;
  position: relative;
}
.containersection2 .imgsection2 .servicios li figcaption {
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  text-align: center;
  padding: 15px;
  color: #ffffff;
  font-size: x-large;
  background: rgba(87, 86, 86, 0.8);
}

.section3 {
  background-color: #ffffff;
}
.section3 .titulo3 {
  grid-area: titulo3;
  text-align: center;
}
.section3 .carrusel {
  grid-area: carrusel;
  justify-self: center;
}
.section3 .carrusel img {
  max-width: 100%;
  height: auto;
}
.section3 .carrusel .carousel-control-prev-icon {
  background-image: url(../img/flechaizq.png);
  filter: blur(100%);
}
.section3 .carrusel .carousel-control-next-icon {
  background-image: url(../img/flechadere.png);
  filter: blur(100%);
}

@media (max-width: 768px) {
  .textoyimg {
    grid-area: textoyimg;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  .imgsection1 {
    margin-right: 0;
  }
  .imgsection1 img {
    max-width: 100%;
  }
  .containersection2 {
    width: 100%;
    height: auto;
  }
  .carrusel {
    width: 100%;
    height: auto;
  }
}
.Llamandogrid-Layout {
  display: grid;
  gap: 20px;
  grid-template-areas: "divturno" "imgvet" "containerturnos" "nuestrospacientes";
}
@media (min-width: 768px) {
  .Llamandogrid-Layout {
    grid-template-areas: "divturno divturno divturno" "containerturnos containerturnos containerturnos" " nuestrospacientes nuestrospacientes nuestrospacientes";
    grid-template-columns: repeat(3, 1fr);
  }
}

.divturno {
  grid-area: divturno;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  justify-items: center;
}
.divturno .titulovet {
  text-align: center;
  margin: 0 auto;
}
.divturno .imgvet {
  width: 100%;
}
.divturno .imgvet img {
  max-width: 100%;
  height: auto;
}
.divturno .containerturnos {
  grid-column: 1;
  display: flex;
  justify-content: flex-end;
  margin-left: 50px;
  width: 100%;
}

.nuestrospacientes {
  grid-area: nuestrospacientes;
}
.nuestrospacientes .textpacientes {
  text-align: center;
}

@media (max-width: 768px) {
  .divturno {
    grid-area: divturno;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  .imgvet {
    margin-right: 0;
  }
  .imgvet img {
    max-width: 100%;
  }
  .containerturnos {
    width: 100%;
    height: auto;
  }
}
.logingrid-Layout {
  display: grid;
  gap: 20px;
  grid-template-areas: "textlogin" "containerformu" "imglogin" "qr" "texqr" "listtexqr";
}
@media (min-width: 768px) {
  .logingrid-Layout {
    grid-template-areas: "textlogin textlogin imglogin" "containerformu containerformu imglogin" "qr texqr texqr" "qr listtexqr listtexqr";
    grid-template-columns: repeat(3, 1fr);
  }
}
.logingrid-Layout .textlogin {
  grid-area: textlogin;
  text-align: center;
}
.logingrid-Layout .containerformu {
  grid-area: containerformu;
  justify-self: center;
  background-color: #fcd1d8;
}
.logingrid-Layout .imglogin {
  place-self: center;
  grid-area: imglogin;
  justify-self: center;
}
.logingrid-Layout .qr {
  grid-area: qr;
  justify-self: center;
}
.logingrid-Layout .texqr {
  grid-area: texqr;
}
.logingrid-Layout .listtexqr {
  grid-area: listtexqr;
  text-align: start;
  list-style-type: none;
}

.Turnosgrid-Layout {
  display: grid;
  gap: 20px;
  grid-template-areas: "containerformu";
  background-image: url(../img/fondohuellas.jpg);
  width: 100%;
}
@media (min-width: 768px) {
  .Turnosgrid-Layout {
    grid-template-areas: ". containerformu .";
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
  }
  .Turnosgrid-Layout .containerformu {
    grid-area: containerformu;
    align-content: center;
    justify-content: center;
    margin: 10px;
    padding: 5%;
    gap: 10px;
    border-style: dotted;
    border-color: #f602ee;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Kitten";
  src: url(../font/AustieBostKittenKlub.ttf);
}
h1, h2 {
  font-family: "Kitten";
  font-weight: 100;
  font-size: 4ch;
  text-shadow: 0 4px 8px #f602ee;
}

.formulario2, .formulario, .containerturnos, p, h3, li {
  font-family: "Grandstander", cursive;
  font-size: large;
  font-stretch: expanded;
}

header nav {
  font-family: "Grandstander", cursive;
  background-image: linear-gradient(#f1a8e8, #ffffff);
}
header nav .navbar {
  min-width: 100vh;
}
header nav .Logo {
  width: 200px;
}
header nav .nav-item:hover {
  color: black;
  background-color: #89cbf5;
  border-radius: 50px;
}
header nav .nav-item .nav-link {
  font-weight: bold;
  font-size: xx-large;
  gap: 100px;
}

.iniciogrid-layout {
  display: grid;
  gap: 20px;
  grid-template-areas: "divhijos" "textomapa" "mapa" "video";
}
@media (min-width: 768px) {
  .iniciogrid-layout {
    grid-template-areas: "divhijos divhijos divhijos" "textomapa textomapa mapa" "video video video";
    grid-template-columns: repeat(3, 1fr);
  }
}

.divhijos {
  grid-area: divhijos;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  border-radius: 10px;
}

.hijoimg1,
.hijoimg2,
.hijoimg3 {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1019607843);
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}
.hijoimg1 img,
.hijoimg2 img,
.hijoimg3 img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.hijoimg1:hover,
.hijoimg2:hover,
.hijoimg3:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1019607843);
}
.hijoimg1 h2,
.hijoimg2 h2,
.hijoimg3 h2 {
  text-align: center;
}

.textomapa {
  grid-area: textomapa;
  background-color: #fcd1d8;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px;
}

.mapa {
  grid-area: mapa;
  justify-self: center;
}

.video {
  grid-area: video;
  justify-self: center;
}

@media (max-width: 768px) {
  .hijoimg {
    flex: 1 1 100%;
  }
  .divhijos {
    grid-area: divhijos;
    max-width: 100vh;
    height: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  .video iframe {
    width: 100%;
    height: auto;
  }
  .mapa iframe {
    width: 100%;
    height: auto;
  }
}
.footercss {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px;
  font-family: "Grandstander", cursive;
  background-color: #fcd1d8;
}
.footercss .redes {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.footercss .listss {
  display: flex;
  justify-content: center;
  right: 200;
}
.footercss .chatbot {
  position: fixed;
  bottom: 0;
  right: 0;
}

@media (max-width: 768px) {
  .footercss {
    flex-direction: column;
    align-items: center;
  }
  .listss ul {
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
