.footercss{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;  
    padding: 20px;
    font-family: "Grandstander", cursive;
    background-color: #fcd1d8;
    .redes{
        display: flex;
        justify-content: center;
        gap: 30px;
    }
    .listss{
        display: flex;
        justify-content: center;
        right: 200;
    }
    .chatbot{
        position: fixed; 
        bottom:0;
        right: 0;
    }
}

@media (max-width: 768px) {
    .footercss {
        flex-direction: column; 
        align-items: center; 
    }

    .listss ul {
        text-align: center; 
    }
}









