.iniciogrid-layout {
    display: grid;
    gap: 20px;
    grid-template-areas:     
        "divhijos"
        "textomapa"
        "mapa"
        "video";

    @media (min-width: 768px) { 
        grid-template-areas:     
            "divhijos divhijos divhijos" 
            "textomapa textomapa mapa"               
            "video video video";          
        grid-template-columns: repeat(3, 1fr);
    }
}

.divhijos {
    grid-area: divhijos;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; 
    border-radius: 10px;
}

.hijoimg1,
.hijoimg2,
.hijoimg3 {
    box-shadow: 0 4px 8px $shadow-color;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;

    img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    &:hover {
        transform: scale(1.1);
        box-shadow: 0 4px 8px $shadow-color;
    }

    h2 {
        text-align: center;
    }
}


.textomapa {
    grid-area: textomapa;
    background-color: $backgroud-color;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px;
}

.mapa {
    grid-area: mapa;
    justify-self: center;


}

.video {
    grid-area: video;
    justify-self: center;  
}

@media (max-width: 768px) {
    .hijoimg {
        flex: 1 1 100%; 
    }
    .divhijos {
        grid-area: divhijos;
        max-width: 100vh;
        height: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px; 
    }
    .video iframe {
        width: 100%; 
        height: auto; 
    }
    .mapa     iframe {
        width: 100%; 
        height: auto; 
    }
    
}
