$backgroud-color: #fcd1d8;
$nav-color:#f1a8e8; 
$hover-color: #89cbf5;
$shadow-color: #0000001a;
$text-shadow-color: #f602ee;
$fighover: #575656cc;
$figtextcolor: #ffffff;
$font-family-grandstander: "Grandstander", cursive;
$font-family-kitten: "Kitten";